.root-pane{
    -fx-background-image: url("geo1.jpg");
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.button {
    -fx-opacity: 0.9;
    -fx-background-color: rgba(62, 65, 70, 1)
}
.button:hover{
    -fx-background-color: #ea35ea;
    -fx-text-fill: rgba(62, 65, 70, 1);
}
.pane{
    -fx-opacity: 0.8;
    -fx-background-color: rgba(62, 65, 70, 1);
}
#math-label{
    -fx-text-fill: #d21fdd;
}